<!-- header-area -->
<header>
  <div class="header-top-area s-header-top-area d-none d-lg-block">
      <div class="container-fluid s-container-full-padding">
          <div class="row align-items-center">
              <div class="col-lg-6 d-none d-lg-block">
                  <div class="header-top-offer">

                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="header-top-right">
                      <div class="header-social">
                          <ul>
                              <li><a href="https://www.facebook.com/reactrraptr"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="https://twitter.com/RaptrReactr"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="https://www.twitch.tv/reactrraptr"><i class="fab fa-twitch"></i></a></li>
                              <li><a href="https://www.youtube.com/channel/UCElLwXRgOwcfSWfhQkc-WPw"><i class="fab fa-youtube"></i></a></li>
                          </ul>
                      </div>
                      <div class="header-top-action">
                          <ul>
                              <li>
                                <div class="header-top-mail mr-3">
                                    <p><span>|</span><i class="far fa-user"></i><a href="/login">Login</a></p>
                                </div>
                              </li>
                              <li>
                                <div class="header-top-mail">
                                    <p><span>|</span><i class="far fa-user"></i><a href="/register">Register</a></p>
                                </div>
                              </li>
                              <li>
                                <div class="header-top-mail">
                                    <p><span>|</span><i class="far fa-envelope"></i><a href="mailto:reactrraptr@gmail.com">reactrraptr@gmail.com </a></p>
                                </div>
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="sticky-header" class="transparent-header" [ngClass]="sticky ? 'sticky-menu' : ''">
      <div class="container-fluid s-container-full-padding">
          <div class="row">
              <div class="col-12">
                  <div class="main-menu menu-style-two">
                      <nav>
                          <div class="logo">
                              <a href="/home"><img src="img/logo/logo.png" alt="Logo"></a>
                          </div>
                          <div id="mobile-menu" class="navbar-wrap d-none d-lg-flex">
                              <ul>
                                  <li class="show"><a href="/home">Home</a></li>
                                  <li><a href="/blog">Blog</a></li>
                                  <li><a href="/reviews">Reviews</a></li>
                                  <li><a href="/about">About</a></li>
                                  <li><a href="https://shop.spreadshirt.co.uk/raptrkit/">RaptrKit</a></li>
                                  <li><a href="/contact">contact</a></li>
                              </ul>
                          </div>
                          <div class="header-action">
                              <ul>
                                  <li class="header-search"><a href="#" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                              </ul>
                          </div>
                      </nav>
                  </div>
                  <div class="mobile-menu"></div>
              </div>
              <!-- Modal Search -->
              <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <form>
                              <input type="text" placeholder="Search here...">
                              <button><i class="fa fa-search"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- header-area-end -->
